<h2>Houses <%= link_to "(+)", new_house_path %></h2>


  <% @houses.each do |house| %>
    <div>
      <%= link_to house.name, house %>
      <%= image_tag house.img_url %>
    </div>
  <% end %>





<% if flash[:notice] == "Is that 'The Rains of Castemere' I hear playing?" %>
<%= audio_tag("rains.mp3", autoplay: true, controls: true, class: "hidden") %>
<% end %>
