<h2><%= @character.name %> <%= link_to "(disguise or #{@character.house.sentence})", edit_house_character_path(@character.house, @character) %></h2>
<h3>A member of House <%= @character.house.name %></h3>
<%= image_tag @character.img_url %>
