/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* assets/stylesheets */
 @font-face {
   font-family: "thrones";
   src: url('game_of_thrones.ttf') format("truetype");
 }

 body {
   font-family: "thrones";
   color: gold;
   background-color: black;
   text-align: center;
 }

 nav {
   border-style: groove;
   border-color: gold;
   border-width: 5px;
 }

 .flash {
   border: 1px solid black;
   padding: 1em;
   background: #eee;
 }

 .alert  { color: red;  }
 .notice { color: blue; }

 .hidden {
   display: none;
 }

 .index_img {
   width: 300px;
   margin: 10px;
 }

.house {
  text-align: center;
}

 .houses {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
